.card {
  margin-bottom: 3vh;
  border-radius: 20px;
  padding: 1.25rem;
}

.timeline-card-light {
  @extend .card;
  background: white;
  color: #4b5563;
  .subheading {
    color: #6b7280;
  }
}

.timeline-card-dark {
  @extend .card;
  background: rgb(75,75,75);
  color: #dcdcdc;
  .subheading {
    color: #dedede;
  }
}

.heading {
  margin: 0 0 .5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.subheading {
  font-weight: 400;
  margin: 0 0 .5rem;
}

.content {
  margin-top: 1rem;
}

.bullet-point-container {
  margin-top: 1rem;
}
