<!--TODO remove-->
<!--<div class="background"></div>-->
<div class="container" (click)="rotated = !rotated" [class.card-rotated]="rotated">
    <div class="card-content front">
      <circle-progress [value]="rating" max="100" text-format="percent"></circle-progress>
      <div class="skill-title">{{ name }}</div>
    </div>
    <div class="card-content back">
      <span [innerHTML]="description"></span>
    </div>
</div>

<!-- TODO Add gradient to circle: https://github.com/tigrr/circle-progress/issues/8 -->

<!--    <svg>-->
<!--      &lt;!&ndash; Gradient (just need to insert in the <svg> tag. The ID must be unique) &ndash;&gt;-->
<!--      <linearGradient id="linear-gradient">-->
<!--        <stop offset="0%" stop-color="gold"/>-->
<!--        <stop offset="100%" stop-color="teal"/>-->
<!--      </linearGradient>-->
<!--    </svg>-->
