:host {
  width: 100%;
  margin-bottom: 5vh;
  display: block;
}

.card {
  border-radius: 20px;
  width: 100%;
  padding: 1.25rem;
  display: inline-block;
  text-align: center;
}

.heading-card-light {
  @extend .card;
  background: white;
  color: #4b5563;
}

.heading-card-dark {
  @extend .card;
  background: rgb(75,75,75);
  color: white;
}

.heading-card-3 {
  @extend .card;
  background: #262626;
  color: white;
  border-radius: 20px;
}
