:host {
  min-width: 2.25rem;
  height: 2.75rem;
  line-height: 2.75rem;
  border-radius: 1rem;
  text-align: center;
  padding: .5rem .5rem;
  color: black;

  display: inline-block;
  position: relative;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;

  &:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
  }

  a {
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.glow {
  border-radius: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3rem;
  align-items: center;
  height: 100%;
}

.icon {
  max-height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.text {
  font-weight: 700;
  font-size: 1.25rem;
  transform: translateY(2px);
}
