@use 'style/lenis';

#background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  display: flex;
  img {
    min-width:100vw;
    min-height:100vh;
    width: auto;
    height: auto;
    object-fit: cover;
  }
}

#main-heading {
  color: #ffffff;
  font-size: 7vw;
  letter-spacing: 1.5vw;
  font-weight: 10;
  font-family: Copperplate Gothic, serif;
  margin-bottom: 3vh;
  @media (max-aspect-ratio: 1/1) {
    font-size: 9vw;
    letter-spacing: 1.6vw;
  }
}
#main-subheading {
  @extend #main-heading;
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
  font-style: italic;
  transform: translateX(-20vw);
  @media (max-aspect-ratio: 1/1) {
    font-size: 3vw;
    letter-spacing: 0.6vw;
  }
}

.progressbar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  .progressbar {
    position: relative;
    width: 100%;
    height: 0.5vh;
    transform-origin: 0 50%;
    background-image: linear-gradient(to right, #a445b2, #fa4299);
  }
}

.content-container {
  width: var(--main-content-width);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  // for rotation
  position: relative;
  //transform-style: preserve-3d; // breaks background-attachment: fixed see https://bugzilla.mozilla.org/show_bug.cgi?id=1352915
  transform-origin: left;
  transition: all .6s ease-in-out;
  &.rotated {
    transition: all .4s ease-in-out;
    //transform: rotateY(calc(1 * var(--rotate-angle)));
    //transform: rotateX(70deg);
    //transform: translateY(-5000px);
    //transform: scale(0.6);
  }
}

:host ::ng-deep {

  .p-timeline-event-separator {
    transform: translateY(calc((2.25rem - 1.6rem) / 2));
    .dot {
      height: 1.6rem;
      width: 1.6rem;
      background-color: #ffffff;
      border-radius: 50%;
      border: 3px solid rgba(75,75,75,1);
      display: inline-block;
    }
  }

  .timeline-date-light {
    background: white;
    color: #4B5563;
  }

  .timeline-date-dark {
    background: rgb(75,75,75);
  }

  .p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(2n) {
    .p-timeline-event-content > timeline-card > div {
      transform-origin: right top;
    }
    .p-timeline-event-opposite p-badge span {
      transform-origin: left top;
    }
  }

  .p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(2n + 1) {
    .p-timeline-event-content > timeline-card > div {
      transform-origin: left top;
    }
    .p-timeline-event-opposite p-badge span {
      transform-origin: right top;
    }
  }

}
