<main #outest_container style="position: relative;">
  <div #backgroundImg id="background-img">
<!--    <img-->
<!--      srcset= "../assets/avatar_600.png 600w,-->
<!--               ../assets/avatar_1000x533.png 1000w,-->
<!--               ../assets/avatar_1500x800.png 1500w,-->
<!--               ../assets/avatar_2000x1066.png 2000w,-->
<!--               ../assets/avatar_2500x1333.png 2500w,-->
<!--               ../assets/avatar_3000x1600.png 3000w,-->
<!--               ../assets/avatar_6000x3200.png 6000w"-->
<!--      sizes="100vw"-->
<!--      src="../assets/avatar_600.png"-->
<!--      alt=""-->
<!--      style="min-width:100vw; min-height:100vh; width: auto; height: auto; object-fit: cover;"-->
<!--    />-->
    <img width="6000" height="3200" alt="" ngSrc="./assets/avatar/"
         ngSrcset="600w, 1000w, 1500w, 2000w, 2500w, 3000w, 6000w"/>
<!--    <img width="6000" height="3200" alt="" ngSrc="./assets/avatar/" ngSrcset="2000w"/>-->
  </div>

  <div class="progressbar-container"><div #progress_bar class="progressbar"></div></div>
  <sidebar #sidebar></sidebar>

  <div id="home-start" style="position:relative; top: -30vh; display: table; height: 130vh; width: 100vw;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
      <h1 id="main-heading" [innerHTML]="dataService.languagePack.heading"></h1>
      <h2 id="main-subheading" [innerHTML]="dataService.languagePack.subheading"></h2>
    </div>
  </div>

  <div id="perspective-div" style="display: flex; flex-direction: column; align-items: center">
    <!-- [class.rotated]="sidebar.hovered" -->
    <div class="content-container">
      <heading-card #education_card id="education-start" [heading]="dataService.languagePack.education" type="light" styleClass="alarm-clock-animated"></heading-card>
      <p-timeline id="eduction-tl" [value]="dataService.education" align="alternate" [style]="{'width': '87.5%', 'display': 'inline-block'}">
        <ng-template pTemplate="marker">
          <span class="dot"></span>
        </ng-template>
        <ng-template pTemplate="content" let-educationItem>
          <timeline-card type="light" [heading]="educationItem.heading" [subheading]="educationItem.subheading"
                         [content]="educationItem.content" [bulletPoints]="educationItem.bulletPoints" styleClass="alarm-clock-animated">
          </timeline-card>
        </ng-template>
        <ng-template pTemplate="opposite" let-educationItem>
          <p-badge [value]="educationItem.date" size="large" styleClass="timeline-date-dark alarm-clock-animated"></p-badge>
        </ng-template>
      </p-timeline>

      <heading-card id="experience-start" [heading]="dataService.languagePack.experience" type="dark" styleClass="alarm-clock-animated"></heading-card>
      <p-timeline id="experience-tl" [value]="dataService.experience" align="alternate" [style]="{'width': '87.5%', 'display': 'inline-block'}">
        <ng-template pTemplate="marker">
          <span class="dot"></span>
        </ng-template>
        <ng-template pTemplate="content" let-experienceItem>
          <timeline-card type="dark" [heading]="experienceItem.heading" [subheading]="experienceItem.subheading"
                         [content]="experienceItem.content" [bulletPoints]="experienceItem.skills" styleClass="alarm-clock-animated">
          </timeline-card>
        </ng-template>
        <ng-template pTemplate="opposite" let-experienceItem>
          <p-badge [value]="experienceItem.date" size="large" styleClass="timeline-date-light alarm-clock-animated"></p-badge>
        </ng-template>
      </p-timeline>

      <heading-card id="skills-start" [heading]="dataService.languagePack.skills" type="3" styleClass="alarm-clock-animated"></heading-card>
      <div style="width: 75%; display: flex; flex-direction: column; flex-wrap: nowrap; gap: 1rem">
        <skills-card class="alarm-clock-animated" *ngFor="let skillCategory of dataService.skillCategories" [category]="skillCategory"></skills-card>
      </div>

      <heading-card id="about-start" [heading]="dataService.languagePack.about" type="3" styleClass="alarm-clock-animated" style="margin-top: 5vh"></heading-card>

      <about></about>

      <heading-card id="contact-start" [heading]="dataService.languagePack.contact" type="3" styleClass="alarm-clock-animated" style="margin-top: 5vh"></heading-card>
      <contact></contact>
    </div>
  </div>
  <footer-section></footer-section>
</main>
