<main>
  <div style="width: 100vw; height: 100vh; display: flex; position: fixed; z-index: -100">
    <img ngSrc="./assets/avatar.png" alt="Photo of Axel Herrmann" width="6000" height="3200"
         style="min-width:100vw; min-height:100vh; width: auto; height: auto; object-fit: cover"
    >
  </div>

  <div style="position:relative; top: -30vh; display: table; height: 130vh; width: 100vw;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
      <h1 id="main-heading">Axel Herrmann</h1>
      <h2 id="main-subheading">Software Engineer</h2>
    </div>
  </div>

  <div style="text-align: center">
    <p-card [style]="{'width': '80%', 'display': 'inline-block', 'margin-bottom': '5vh'}">
      <ng-template pTemplate="content">
        <h1 style="margin: 0">Bildungsweg</h1>
      </ng-template>
    </p-card>
    <p-timeline id="eduction-tl" [value]="education" align="alternate" styleClass="customized-timeline" [style]="{'width': '70%', 'display': 'inline-block'}">
      <ng-template pTemplate="marker">
        <span class="dot"></span>
      </ng-template>
      <ng-template pTemplate="content" let-educationItem>
        <p-card [header]="educationItem.heading" [subheader]="educationItem.subheading" [style]="{'margin-bottom': '5vh', 'background': 'rgba(255,255,255,0.8)'}">
          <p>
            {{ educationItem.content }}
          </p>
          <div *ngIf="educationItem.bulletPoints">
            <p-badge *ngFor="let bulletPoint of educationItem.bulletPoints" [value]="bulletPoint" [style]="{'margin': '0 0.3vh'}"></p-badge>
          </div>
        </p-card>
      </ng-template>
      <ng-template pTemplate="opposite" let-educationItem>
        <p-badge [value]="educationItem.date" size="large" [style]="{'background': 'rgba(255,255,255,0.2)'}" class="timeline-badge" styleClass="timeline-badge-2"></p-badge>
      </ng-template>
    </p-timeline>
  </div>
</main>
