<div #container class="container">
  <div #category_container class="category-container">
    <div class="icon-container">
      <span class="pi {{ category.icon }} icon"></span>
    </div>
    <!-- TODO bar graph -->
    <h2 #title class="category-title">{{ category.name }}</h2>
    <p class="category-subtitle" [innerHTML]="category.description"></p>
  </div>
  <div #skills_container class="skills-container">
    <skill-card #skills *ngFor="let skill of category.skills" [name]="skill.name" [description]="skill.text" [rating]="skill.rating"></skill-card>
  </div>
</div>
