<div class="img-container" [class.hidden]="followingMessage">
  <img *ngIf="isLeft()" src="assets/chat-avatar/avatar.png" height="210" width="210" alt="">
  <img *ngIf="!isLeft()" src="assets/chat-avatar/anonymous.svg" alt="">
</div>
<!--<div class="triangle background-gradient"></div>-->
<div class="fake-triangle" [class.hidden]="followingMessage" [class.not-received]="!sent"></div>
<div class="message-box" [class.not-received]="!sent" [innerHTML]="text">
<!--  <ng-content></ng-content>-->
</div>



