:host {
  position: relative;
  display: flex;
  width: 70%;
  margin-top: 1.2rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: var(--1-row-height);

  --1-row-height: 5rem;
  --triangle-width: 1.25rem;
  --triangle-height: 1rem;

  // Chat animation
  animation-name: show-chat;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;

  &.left {
    transform-origin: left bottom;
    flex-direction: row;

    .triangle {
      margin-left: 1.5rem;
      border-bottom: var(--triangle-height) solid transparent;
      border-right: var(--triangle-width) solid rgba(226, 38, 255, 0.8);
    }

    .fake-triangle {
      background: #a445b2;
      transform: translateX(1.4rem) rotateZ(45deg);
    }
  }

  &.right {
    transform-origin: right bottom;
    flex-direction: row-reverse;
    align-self: flex-end;

    .triangle {
      margin-right: 1.5rem;
      border-bottom: var(--triangle-height) solid transparent;
      border-left: var(--triangle-width) solid rgba(226, 38, 255, 0.8);
    }

    .fake-triangle {
      background: #fa4299;
      transform: translateX(-1.4rem) rotateZ(-45deg);
    }
  }

  &.following-message {
    margin-top: 0.3rem;
  }
}

.img-container {
  height: var(--1-row-height);
  width: auto;
  aspect-ratio: 1;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.message-box {
  position: relative;
  align-self: center;
  background: linear-gradient(90deg, #a445b2, #fa4299);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;

  &.not-received {
    filter: brightness(0.5);
  }
}

.triangle {
  margin-top: calc((var(--1-row-height) - var(--triangle-height))  / 2);
  width: 0;
  height: 0;
}

.fake-triangle {
  position: relative;
  margin-top: calc((var(--1-row-height))  / 2 - 1rem);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  background: #a445b2;
  border-radius: 0.4rem;

  &.not-received {
    filter: brightness(0.5);
  }
}

.hidden {
  visibility: hidden;
}

// for real gradient on multiple elements, see: https://codepen.io/axherrm/pen/YzgYEeL
//.background-gradient {
//  background-image: linear-gradient(90deg, #a445b2, #fa4299);
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//}

//@keyframes show-chat-left {
//  0% {
//    //margin-left: -50%;
//    //margin-top: 6rem;
//    //transform: scale(0.1);
//    //transform: translateX(-70%) translateY(50%) scale(0.1);
//    transform: translateX(-70%) scale(0.1);
//  }
//  //80% {
//  //  //transform: translateX(-5%) translateY(30%);
//  //  transform: translateX(-5%) translateY(30%);
//  //}
//  //90% {
//  //  transform: translateY(20%);
//  //}
//  100% {
//    //margin-left: 0;
//    //margin-top: 0;
//    transform: none;
//  }
//}

@keyframes show-chat {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
