@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

html {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// TODO remove once style theme is properly done: Anleitung dafür: https://angularindepth.com/posts/1320/custom-theme-for-angular-material-components-series-part-1-create-a-theme
:root {
  // deactivate link style
  a {
    color: inherit;
    text-decoration: none;
  }

  --color-grey-dark-1: #363C43;
  --color-grey-dark-2: #747474;
  --color-grey-medium-1: #CACACA;
  --color-white-darker: #E9E8E7;

  --text-font-size: 2.1vh;
  --text-color: var(--color-grey-dark-2);
  --heading-color: var(--color-grey-dark-1);

  .text-color-grey-dark-1 { color: var(--color-grey-dark-1); }
  .text-color-grey-dark-2 { color: var(--color-grey-dark-2); }
  .text-color-grey-medium-1 { color: var(--color-grey-medium-1); }
  .color-white-darker { color: var(--color-white-darker); }

  //--border-light: 1px solid #7a7a7a;
  //--border-dark: 1px solid #232323;
  //--background-light: rgba(255, 255, 255, 0.8);
  //--background-dark: rgba(75, 75, 75, 0.9);

  @media (max-width: 1000px) {
    --main-content-width: 100vw;
    --display-side-elements: none;
    --display-side-elements-flex: none;
  }
  @media (min-width: 1000px) {
    --main-content-width: max(80vw, 1000px);
    --display-side-elements: block;
    --display-side-elements-flex: flex;
  }
  --main-content-side-margin: calc((100vw - var(--main-content-width)) / 2);

  /*******************************************************
   *               Rotation calculations                 *
   *******************************************************/
  /* Input */
  --side-content-width-visible-percent: calc(4/5);

  /* Calculations */
  --rotated-depth-percent: calc(sqrt(1 - pow(var(--side-content-width-visible-percent),2)));
  /* alpha = acos(ancathete / hypotenuse) */
  --rotate-angle: calc(acos(var(--side-content-width-visible-percent)));

  /*
    (180 - alpha) / 2
    => result has to be subtracted from 180 again because of css rotation rules
  */
  --side-content-rotation: calc(180deg - (180deg - var(--rotate-angle)) / 2);
  /*
    a² = b² + c² - 2bc * cos(alpha)
    a = √(b² + c² - 2bc * cos(alpha))
    a = √(1² + 1² - 2 * cos(alpha))
    a = √(2 - 2cos(alpha))
  */
  /*--side-content-length-percent: calc(2 - 2 * sqrt(cos(var(--rotate-angle))));*/
  --side-content-length-percent: sqrt(2 - 2 * cos(var(--rotate-angle)));
}
